*{
  box-sizing: border-box;
  margin: 0;
  padding: 5;
}
body{
  font-family: Arial, helvetica, sans-serif;
  line-height: 1.4;
}

a{
  color: #333;
  text-decoration: none;
}
.container{
  padding: 0 1 rem;
}
.btn{
  background: #666;
}
